@import "./colors";

.card-stats {
  &-heading {
    color: $very-dark-desaturated-blue;
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
  }

  &-title {
    font-size: 1.2rem;
    letter-spacing: 1.5px;
    color: $dark-grayish-blue;
  }
}
