* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  background: url(./images/bg-pattern-top.svg) top -50rem left -20rem no-repeat,
    url(./images/bg-pattern-bottom.svg) bottom -50rem right -20rem no-repeat;
  background-color: hsl(185, 75%, 39%);
  font-family: "Kumbh Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5rem;
}

@media only screen and (max-width: 82em) {
  body {
    background: url(./images/bg-pattern-top.svg) top -44rem left -31rem
        no-repeat,
      url(./images/bg-pattern-bottom.svg) bottom -53rem right -24rem no-repeat;
    background-color: hsl(185, 75%, 39%);
  }
}

@media only screen and (max-width: 32em) {
  body {
    background: url(./images/bg-pattern-top.svg) top -50rem left -70rem
        no-repeat,
      url(./images/bg-pattern-bottom.svg) bottom -50rem right -70rem no-repeat;
    background-color: hsl(185, 75%, 39%);
  }
}
